@import url('primeicons/primeicons.css');
@import url('primevue/resources/themes/tailwind-light/theme.css');
@import url('primeflex/primeflex.min.css');

html {
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
	font-weight: 400;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.bg-glass {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
}

.sdp-canvas-base{
    height: 100%;
    width: 100%;

    &.active-mode {
        .unit-selector{
            fill: var(--orange-100);
        }

        svg{
            cursor: pointer;
        }
    }

    svg{
        background: var(--surface-0);
    }

    .unit-selector{
        transition: fill 0.5s ease;
        fill: var(--surface-ground);

        ~ *{
            user-select: none;
            pointer-events: none;
        }
    }

    .selector-area{
        stroke: var(--yellow-500);
        fill: #eec1375e;
        border-radius: 3px;
    }
}

.highlighted{
    fill: var(--orange-400) !important;
}

.tool-button-size{
    height: 28px;
    width: 28px;
    font-size: 12px;
}

.tool-dropdown-size{
    height: 28px;
	padding: 0 1rem !important;
	font-size: 12px !important;
	display: flex;
	align-items: center;

    .p-dropdown-trigger{
        display: none !important;
    }
}

.content-moveable{
    .content-map{
        cursor: move;
    }
}